header {
    background-color: #244751;
    color: #e8fdff
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 20px
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%
}
